.body-container {
    margin-top: 20px; /* Adjust as needed */
    text-align: center; /* Center align the text */
}

.body-text {
    font-family:'Courier New', Courier, monospace;
    font-size: 42px; /* Adjust the font size as needed */
    /* margin-left: 10px;padding-left: 10px; */
}
.body-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center content vertically */
}

.text-and-logo-container {
    display: flex;
    justify-content: space-between; /* Place items at each end of the container */
    align-items: center; /* Center items vertically */
    width: 80%; /* Adjust as needed */
    height: 200px; /* Set the height as desired */
}

.body-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center content vertically */
}

.text-and-logo-container {
    display: flex;
    justify-content: space-between; /* Place items at each end of the container */
    align-items: center; /* Center items vertically */
    width: 80%; /* Adjust as needed */
}

.body-container, .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body-text {
    /* Add styles for body text if needed */
}

.logo-container img {
    max-width: 100%; /* Ensure the logo image does not exceed its container */
    max-height: 100%; /* Ensure the logo image does not exceed its container */
}







