* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    width: 100%;

}

#navbar-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

#navbar-items li {
    margin-right: 60px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
}

/* 
  #navbar-items li:last-child {
    margin-right:300px;
    color: red;
  } */